.vscode
trying_to_understand_something.code-workspace
data_structures/dictionary/dictionary_with_lists/main
data_structures/dictionary/dictionary_with_ordered_arrays/main
data_structures/trees/binary_trees/visits/main
data_structures/trees/binary_trees/random_exercises/1-intermedi/main
data_structures/trees/binary_trees/random_exercises/2-T_bilanciato/main
data_structures/trees/binary_trees/random_exercises/3-livello_nodo/main
data_structures/trees/binary_trees/random_exercises/4-minimo_antenato_comune/main
data_structures/trees/binary_trees/binary_search_trees/main
data_structures/trees/binary_trees/binary_search_trees/exercises/1-distanza/main
data_structures/trees/binary_trees/binary_search_trees/exercises/2-check_tree_is_BST/main
data_structures/trees/general_trees/visits/main
data_structures/trees/general_trees/exercises/1-check_kario_completo/main
data_structures/trees/general_trees/exercises/2-trasforma_chiavi_lvl_pari/main
