.vscode
trying_to_understand_something.code-workspace
data_structures/dictionary/dictionary_with_lists/main
data_structures/dictionary/dictionary_with_ordered_arrays/main
data_structures/trees/binary_trees/visits/main
data_structures/trees/binary_trees/random_exercises/1-intermedi/main
data_structures/trees/binary_trees/random_exercises/2-T_bilanciato/main
data_structures/trees/binary_trees/random_exercises/3-livello_nodo/main
data_structures/trees/binary_trees/random_exercises/4-minimo_antenato_comune/main
data_structures/trees/binary_trees/binary_search_trees/main
data_structures/trees/binary_trees/binary_search_trees/exercises/1-distanza/main
data_structures/trees/binary_trees/binary_search_trees/exercises/2-check_tree_is_BST/main
data_structures/trees/general_trees/visits/main
data_structures/trees/general_trees/exercises/1-check_kario_completo/main
data_structures/trees/general_trees/exercises/2-trasforma_chiavi_lvl_pari/main
data_structures/trees/binary_trees/random_exercises/5-black_height/main
data_structures/trees/binary_trees/random_exercises/6-K_limitato/main
data_structures/trees/binary_trees/binary_search_trees/exercises/3-occorrenze_k_in_T/main
sorting/insertion_sort/main
sorting/merge_sort/main
sorting/quick_sort/main
data_structures/trees/heap/max_heap/main
sorting/heap_sort/main
data_structures/priority_queue/max_priority_queue/main
complexity/fibonacci/main
data_structures/trees/binary_trees/binary_search_trees/exercises/4-key_in_a_b/main
data_structures/trees/binary_trees/random_exercises/7-somma_foglie/main
data_structures/trees/binary_trees/random_exercises/8-k_compreso/main
data_structures/trees/binary_trees/random_exercises/9-costo_max_cammino/main
data_structures/trees/heap/max_heap/random_exercises/1-differenza/main
data_structures/arrays/random_exercises/1-max_due_lettere_uguali_consec/main
sorting/random_exercises/1-esattamente_k_volte/main
data_structures/trees/binary_trees/random_exercises/10-is_sum_tree/main
data_structures/trees/binary_trees/random_exercises/11-aggiungi_figli_sumP/main
data_structures/trees/binary_trees/random_exercises/12-canc_if_fogliaSXugualeP/main
sorting/random_exercises/2-anagrammi/main
data_structures/trees/general_trees/exercises/3-totNodi_sameKey/main
data_structures/trees/binary_trees/random_exercises/13-printK_whereNodesSXAreMoreThanNodesDX/main
data_structures/trees/binary_trees/random_exercises/14-discendenti_black_white_sameNumber/main
data_structures/trees/binary_trees/binary_search_trees/exercises/5-sorting_BST/main
data_structures/trees/general_trees/exercises/4-children_keysNotDecre/main
data_structures/trees/binary_trees/random_exercises/15-buildTree_fromTwoArrays_pre_in_order/main
data_structures/arrays/random_exercises/2-conta_ar_seq_adiacenti/main
data_structures/trees/binary_trees/random_exercises/16-list_intermedi/main
data_structures/trees/binary_trees/random_exercises/17-nodi_altezza_k/main
data_structures/trees/binary_trees/random_exercises/18-is_binario_completo/main
data_structures/trees/binary_trees/binary_search_trees/exercises/6-tree_insert_ric/main
data_structures/lists/random_exercises/1-intersezione/readme.md
data_structures/trees/binary_trees/random_exercises/19-is_simmetrico/main
sorting/random_exercises/3-order_mod3/main
data_structures/arrays/random_exercises/3-trova_somma_k/main
data_structures/arrays/random_exercises/4-is_palindroma/main
sorting/random_exercises/4-find_el_mancante/main
data_structures/trees/general_trees/exercises/5-conta_foglie/main
data_structures/arrays/random_exercises/5-stampa_differenza/main
data_structures/arrays/random_exercises/6-trova_minimo/main
data_structures/arrays/random_exercises/7-conta_non_negativi/main
data_structures/arrays/random_exercises/8-esistono_duplicati/readme.md
data_structures/trees/binary_trees/random_exercises/20-check_proprieta_max_heap/main
data_structures/trees/binary_trees/random_exercises/21-build_tr_balanced_from_array/main
data_structures/trees/binary_trees/binary_search_trees/exercises/07-BST_with_sum/main
data_structures/trees/binary_trees/binary_search_trees/exercises/08-BST_with_diff/main
data_structures/trees/binary_trees/binary_search_trees/exercises/09-buildNewTree_fromT1_T2/main
data_structures/trees/binary_trees/binary_search_trees/exercises/10-crea_BST_interval_root_k/main
sorting/random_exercises/05-ordina_insieme_parole/main
data_structures/trees/binary_trees/binary_search_trees/exercises/11-build_balanced_BST/main
data_structures/trees/binary_trees/binary_search_trees/exercises/12-elimina_maggiori_k/main
data_structures/trees/binary_trees/random_exercises/22-grado_squilibrio/main
data_structures/trees/binary_trees/binary_search_trees/random_exercises/13-build_BST_evenkeys/main
data_structures/trees/binary_trees/random_exercises/23-nodi_pari/main
data_structures/trees/heap/max_heap/random_exercises/02-heap_delete_i/main
data_structures/arrays/random_exercises/09-ha_tutti_valori_distinti/main
data_structures/trees/binary_trees/binary_search_trees/random_exercises/14-modify_key_check_still_BST/main
data_structures/arrays/random_exercises/10-triplo/main
data_structures/trees/binary_trees/random_exercises/24-build_tree_with_height/main
data_structures/arrays/random_exercises/11-minima_differenza_abs/main
data_structures/trees/binary_trees/random_exercises/01-intermedi/main
data_structures/trees/heap/min_heap/random_exercises/01_find_max_element/main
data_structures/trees/binary_trees/binary_search_trees/random_exercises/15-check_a_bst_property/main
